In [1]:
# This function sorts data with ascending order based on the parameters
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('output.csv')
df.head()

,EmplID,Gender,Primary Nat,Other Nationality,English Level ( 6 is fluent),Last Job Domain Description,Last Job Title 1,Section,Study Group
0,857817,Female,Albanian,NaN,5,Consulting,Lean Navigator,1,1
1,848064,Male,Brazilian,Portuguese,5,Business Dev./Corporate Plan.,manager,1,1
2,852548,Male,Egyptian,Canadian,5,Other,Cards Business Analytics Unit Head,1,1
3,852551,Male,Indian,NaN,5,Finance,Investment Analyst,1,1
4,852196,Female,Norwegian,NaN,5,Sales & Marketing,Brand and Customer manager Cardiovascular Disease,1,1

In [4]:
df.Section.unique()

array([1, 2, 3])